/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
    




/*-- FOOTER INFO --*/

footer{
    background-color: #2B2B2B;
    width: 100%;
}

.social{
    list-style-type: none;
    text-align: center;
}

.social li{
    display: inline;
}

.social i{
    font-size: 460%;
    margin: 1%;
    padding: 5% 5% 5% 4%;
    color: #F5F5F5;
}

.social i:hover{
    color: #67BCDB;
}
/*-- FOOTER INFO --*/

/*-- FOOTER COPYRIGHT --*/

footer.second{
    border-top:  3px solid #F5F5F5;
    background-color: #2B2B2B;
    max-height: 55px;
    margin:0;
}

footer.second p{
    
    text-align: center;
}
/*-- FOOTER COPYRIGHT --*/



@media screen and (max-width:900px){

   .social i{
        font-size: 180%;
    }

}

